# Directories
bin
build
docs
./claude
OpenGL_learning/build
OpenGL_learning/bin
OpenGL_learning/.claude
OpenGL_learning/.learn_example
OpenGL_learning/assets/model
assimp
OpenGL_learning/3rdparty/assimp/
3rdparty/assimp/
OpenGL_learning/.claude
vulkan_learning/build
vulkan_learning/bin
OpenGL_learning/.vscode
